.filter{
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: left;
  margin: 0 auto;
  width: 96%;
}

.container {
  margin: 0 auto;
  max-width: 87.5rem;
  width: 96%;
}

@media(min-width: 46.875rem){
  .section .container{
    display: grid;
    column-gap: .5rem;
    row-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 62.5rem){
  .section .container{
    gap: 2.5rem;
  }
}

@media(min-width: 81.25rem){
  .section{
    display: flex;
    margin: 0 auto;
    max-width: 87.5rem;
    width: 96%;
  }

  .filter{
    display: none;
  }

  .container{
    padding-left: 2rem;
  }
}