.container {
  margin: 0 auto;
  max-width: 87.5rem;
  width: 96%;
}

@media(min-width: 46.875rem){
  .container{
    display: grid;
    column-gap: .5rem;
    row-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 62.5rem){
  .container{
    gap: 2.5rem;
  }
}