.button {
    cursor: pointer;
}

.button:hover {
    border: solid .2rem rgba(204, 54, 154, 0.904);
}

.text {
    padding-left: .2rem;
}

@media (min-width:81.25rem) {
    .button {
        display: none;
    }
}