.filterActive .navigation{
  display: initial;
  overflow: scroll;
  right: 0;
}

.navigation{
  background-color: rgba(192, 7, 7, .9);
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
}

.close{
  font-size: 2rem;
  left: .8rem;
  position: relative;
  text-align: center;
  top: 1rem;
}

.list{
  list-style: none;
  padding-top: 4rem;
}

.item{
  border-bottom: 1px solid #1a0c57;
  cursor: pointer;
  margin: 0 1rem;
  padding-top: 2rem;
}

@media(min-width: 81.25rem){
  .filterActive .navigation{
    display: initial;
    overflow: hidden;
    right: unset;
  }

  .navigation{
    background-color: rgba(192, 7, 7, .4);
    border-radius: .5rem;
    display: initial;
    height: 100vh;
    position: unset;
    right: unset;
    top: unset;
    transition: unset;
    width: 17.5rem;
  }

  .list{
    padding-top: 0;
  }


  .close{
    display: none;
  }
}