.container+.container {
   margin-top: 2.5rem;
}

.card {
   border-radius: 1rem;
}

.img {
   border-radius: 1rem;
   border: solid .125rem yellow;
   width: 100%;
}

.img:hover{
   border: solid .2rem rgba(204, 54, 154, 0.904);
}

.title {
   padding: .75rem;
}

.genre {
   color: rgba(255, 255, 0, 0.7);
   font-size: .75rem;
   padding: 0 .75rem;
}

@media(min-width: 46.875rem){
   .container+.container {
      margin-top: 0;
   }
 }