.header {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 87.5rem;
   padding: .2rem 0;
   width: 96%;
}

h1{
   height: 6.4rem;
}

.logo {
   width: 6rem;
}

.searchBar {
   width: calc(96% - 6rem);
}

.navBar {
   align-items: center;
   display: flex;
   height: 4rem;
   justify-content: center;
   width: 100%;
}

@media(min-width: 46.874rem) {
   .navBar {
      width: 50%;
   }

   .searchBar {
      width: 30%;
   }
}