.container{
  align-items: center;
  background-color: red;
  border: .1rem solid white;
  border-radius: .4rem;
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.navbar{
  align-items: center;
  display: flex;
  font-size: .75rem;
  justify-content: space-between;
  list-style: none;
  width: 98%;
}

.item a{
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
  padding: 0 .3rem;
  text-decoration: none;
}

.item a:hover{
  color: rgba(255, 0, 0, 0.884);
}

.item a:active,
.item.active a {
  background-color: rgb(190, 231, 6);
  border: solid .2rem rgba(204, 54, 154, 0.904);
  border-radius: .5rem;
  color: rgba(42, 3, 216, 0.884);
}