.container{
  align-items: center;
  background-color: red;
  border: .1rem solid white;
  border-radius: .4rem;
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.navbar{
  align-items: center;
  display: flex;
  font-size: .75rem;
  justify-content: space-between;
  list-style: none;
  width: 98%;
}