* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  padding: 0;

  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #151515;
  color: var(--texto-padrao);
  font-family: var(--fonte);
  line-height: 19px;
  height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}